body {
    background: blue;
}
header {
    background: lightblue;
}
header div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
header button {
    background: lightgrey;
    color: red;
    width: 70%;
    border: 3px solid blue;
    border-radius: 4px;
    margin: 2px;
}
#control {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
}
table {
    background: lightgrey;
    width: 100%;
}
caption {
    color: white;
}
table, th,td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    text-align: center;
}
